
.links{
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(221, 221, 221);
        text-decoration: none;
        margin-right: 2rem;
        transition: all .2s; 
    
        &:last-child {
           padding-right: 2.6rem;
        }

        &:hover {
           color: rgb(167, 167, 167); 
        }   
}